<h1>All members</h1>

<table class="table">
    <tr class="wrap">
        <th class="element">Member <br> Number</th>
        <th class="element" colspan="3">Name</th>
    </tr>

    <% for member in @members %>
    
    <tr class="wrap">
        <td class="element"><%= member.id %></td>
        <td></td>
        <td class="element"><a id="link" href="/members/<%= member.id%>"><%= member.full_name() %></a></td>
        <td></td>
        <td class="element">
            <form  action="/members/<%= member.id%>/edit" method="get">
                <input class="btn" type="submit" value="Edit">
            </form>
        </td>
        <td class="element">
            <form  action="/members/<%= member.id%>/delete" method="post">
                <input class="btn" type="submit" value="Delete">
            </form>
        </td>
    </tr>

    <% end %>

</table>