<h1><%= @member.full_name() %></h1>

<table class="table">
    <tr>
        <td class="bold">Address:</td>
        <td><%= @member.address()%></td>
    </tr>
    <tr>
        <td class="bold">E-mail:</td>
        <td><%= @member.email %></td>
    </tr>
    <tr>
        <td class="bold">Phone number:</td>
        <td><%= @member.phone %></td>
    </tr>
    <tr>
        <td class="bold">Member since:</td>
        <td><%= @member.start_membership %></td>
    </tr>
</table>

<h3>Booked classes:</h3>
<table>
    <tr>
        <td>
        <% for s in @sessions %>
         <p><%=s.wday%>, <%=s.schedule%></p>
        <% end %>
        </td>
        <td></td>
        <td>
        <% for c in @classes %>
            <p><%=c.title%></p>
        <% end %>
        </td>
        <td>
        <% for s in @sessions %>
            <p>with <%=s.instructor%></p>
        <% end %>
        </td>
    </tr>
</table>