<h1>Booking Manager</h1>

<form  action="/sessions/new" method="get">
    <input class="btn" type="submit" value="Create new Session">
</form>

<h3>Timetable</h3>

<% weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
<% timeslots = ["08:00", "09:00", "10:00", "11:00", "12:00", "Break", "15:00", "16:00", "17:00", "18:00", "19:00"]%>

<table id="timetable">
        <tr class="tt-wrap">
        <th class="tt-element"></th>
            <% for weekday in weekdays%>
                <th class="tt-element"><%= weekday%></th>
            <% end%>
        </tr>

        
<% for time in timeslots%>
<tr class="tt-wrap">
<td class="tt-element bold"><%= time %></td>
<% for weekday in weekdays%>
<td class="tt-element">
<% for session in @all_sessions %>
<% class_names = session.yoga_class() %>
<% if session.wday == weekday && session.schedule == time %>
<p><a id="timetable-a" class="bold" href="/sessions/<%= session.id%>"><%= class_names.title %></a></p>
<p class="instructor"> with <%=session.instructor %></p>
<% end %>
<% end %>
</td>
<% end %>
</tr>
<% end %>
</table>