<h1><%= @yoga_class.title%></h1>

<div>
    <form class="inline-block" action="/sessions/<%= @yoga_session.id%>/edit" method="get">
        <input class="btn" type="submit" value="Edit">
    </form>

    <form class="inline-block" action="/sessions/<%= @yoga_session.id%>/delete" method="post">
        <input class="btn" type="submit" value="Delete">
    </form>
</div>

<table class="table">
    <tr>
        <td class="bold">Day:</td>
        <td><%= @yoga_session.wday%></td>
    </tr>

    <tr>
        <td class="bold">Time:</td>
        <td><%= @yoga_session.schedule%></td>
    </tr>

    <tr>
        <td class="bold">Instructor:</td>
        <td><%= @yoga_session.instructor%></td>
    </tr>

</table>

<h3>Members booked on this Yoga Session:</h3>

<table>
    
    <% if @members != [] %>
        <% for member in @members %>
            <tr>
            <td><a href="/members/<%= member.id%>"><%=member.full_name()%></a></td>
            <td></td>
            <td>
            <form  action="/bookings/<%= member.id%>/delete" method="post">
                <input class="btn" type="submit" value="Remove from Session">
            </form>
            </td>
            </tr>
        <% end %>
    <% else%>
        <p>There is no member booked on this Yoga Session yet</p>
    <% end%>
    
</table>
