<h1><%= @yoga_class.title%></h1>

<form  action="/sessions/<%= @yoga_session.id%>/edit" method="get">
    <input class="btn" type="submit" value="Edit">
</form>

<form  action="/sessions/new" method="get">
    <input class="btn" type="submit" value="Create new Session">
</form>

<table>
    <tr>
        <td>Day:</td>
        <td><%= @yoga_session.wday%></td>
    </tr>

    <tr>
        <td>Time:</td>
        <td><%= @yoga_session.schedule%></td>
    </tr>

    <tr>
        <td>Instructor:</td>
        <td><%= @yoga_session.instructor%></td>
    </tr>

</table>

<h3>Members booked on this Yoga Session:</h3>

<table>
        <% for member in @members %>
        <tr>
        <td><a href="/members/<%= member.id%>"><%=member.full_name()%></a></td>
        </tr>
        <% end %>
</table>
