<h1>Edit <%=@update_class.title%></h1>

<form action="/classes/<%=@update_class.id%>" method="post">
    <div class="form">

        <div class="form-element">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="Bikram Yoga"  <%= "selected" if @update_class.category == "Bikram Yoga"%>>Bikram Yoga</option>
                <option value="Vinyase Yoga" <%= "selected" if @update_class.category == "Vinyasa Yoga"%>>Vinyasa Yoga</option>
                <option value="Yin Yoga" <%= "selected" if @update_class.category == "Yin Yoga"%>>Yin Yoga</option>
            </select>
        </div>

        <div class="form-element">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%=@update_class.title%>"/>
        </div>

         <div class="form-element">
            <input class= "btn" type="submit" value="Edit Class">
        </div>

    </div>
</form>